In [6]:
# import libraries & dependencies
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from pathlib import Path
from tensorflow import keras 
import tensorflow as tf
from tensorflow import keras
#from keras.models import Sequential
from Keras.layers import LSTM
from keras.layers import Dense
from Keras.layers import Dropout

ModuleNotFoundError: No module named 'Keras'

In [7]:
# load training dataset
dataset_train = pd.read_csv(Path('Resources/Google_Stock_Price_Train.csv'))
dataset_train.head()

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

In [8]:
stock_price_train=stock_price.iloc[:,1:2].values
stock_price.head()

NameError: name 'stock_price' is not defined